body {
    background-color: #1b1f26;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://red-velvet-corridor396.github.io/CSCI-202-2/Assignment-6/images/wood.jpg);
}

#infoBox {
    display: flex;
    box-shadow: 5px 10px 5px;
    background-color: rgb(199, 197, 197);
}

.cd:hover {
    filter: brightness(50%);
}

#infoBox ul {
    list-style-type: circle;
}

#commentary {
    margin-left: 150px;
}

#info {
    margin-left: 100px;
}

#disc {
    position: relative;
    /* left: 100px; */

}

#albumcover {
    position: absolute;
    z-index: 2;
}

.spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#back {
    color: white;
    text-decoration: none;
}

#back:hover {
    filter: brightness(80%);
}



